@use 'props';

* {
  @if props.$debug-mode {
    outline: 1px solid red;
  }
  text-decoration: none;
  margin: 0;
}

body {
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 80%;
  margin: auto;
  min-height: 100%;
}
